* {
  font-family: 'HelveticaNeueCyr', sans-serif;

}
#wrapper {
  width: 80%;
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  height: auto;
  opacity: 1;
  padding-bottom: 10px;

}
h2 {
  padding: 10px;
}

li {
  margin-bottom: 20px;
  list-style: none;
  font-size: 18px;

}
a {
  display: block;
  background: url("1493279-20.png") no-repeat;
  cursor:pointer;
  width: 20px;
  height: 20px;
  border: none;
  float:left;
  margin-right: 10px;

}
#addNewCategoryButton {
  display: block;
  width:10%;
  height: 40px;
  background-color: #dc4955;
  border: 0;
  border-radius: 2px;
  color: #fafafa;
}

#newCategoryField {
  margin-left: 40px;
}
#newCategoryField input {
  height: 24px; /*минус padding, border*/
  float: left;
  margin-right: 10px;
}
.newCategoryFieldButton {
  width:10%;
  height: 30px;
  background-color: #dc4955;
  border: 0;
  border-radius: 2px;
  color: #fafafa;

}
