<div id="wrapper" >
  <h2>Categories</h2>
  <ul>
    <li *ngFor="let category of categories"> {{category.name}}
    <button (click)="deleteById(category.id)" >Remove {{category.name}}</button>
    </li>
    <li *ngIf="!clickNewCategory"><button (click)="enterCategory()">Add Category</button></li>
  </ul>
  <div *ngIf="clickNewCategory">
    <input type="text" [(ngModel)]="nameOfCategory">
    <button (click)="addCategory(nameOfCategory)" >Add New Category</button>
    <button (click)="clickNewCategory=false">Cancel</button>
  </div>
</div>
