<div id="wrapper">
  <h2>About contest</h2>
  <p>Netcracker Technology — это мировой лидер в разработке и внедрении программного обеспечения для операторов связи.
    У нас более 20 лет богатейшего отраслевого опыта, 8000 специалистов, тысячи успешных внедрений и высочайший уровень стандартизации в индустрии.
    Наши успехи неоднократно отмечены самыми престижными отраслевыми наградами и признаны ведущими аналитиками телеком-отрасли,
    включая Gartner, Analysys Mason и Stratecast. В сотрудничестве со своей материнской компанией — японской корпорацией
    NEC — Netcracker уже несколько лет занимает ведущие позиции на рынке инновационных технологий SDN/NFV.
    Центры разработки находятся в России, Украине, Беларуси, Великобритании, Индии, США и Израиле.</p>
  <p>Мы научим тебя объектно ориентированному программированию на Java, включая Standard и Enteprise edition, а также Oracle, SQL,
    web-технологиям, основам телекоммуникационных сетей, либо современным методологиям бизнес-анализа (в зависимости от выбранного направления);</p>
  <p>Курс обучения включает выполнение самостоятельного проекта с куратором из числа ведущих технических экспертов компании.
    Получай опыт под руководством профессионалов!</p>
  <p>Успешным студентам по результатам обучения мы предлагаем пройти собеседование на работу в компании.
    Гибкий график позволяет учиться и работать одновременно.</p>
</div>

