* {
   font-family: 'HelveticaNeueCyr', sans-serif;
 }
#wrapper {
  width: 80%;
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  padding: 10px;
}
h2 {
  padding-left: 15px;
}
p {
  line-height: 25px;
  text-indent: 20px;
  padding: 0 10px;
  text-align: justify;
}
