* {
  font-family: 'HelveticaNeueCyr', sans-serif;

}
#wrapper {
  width: 80%;
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  height: 90vh;
  opacity: 0.95;

}
h2 {
  padding: 10px;
}
p {
  line-height: 25px;
  text-indent: 20px;
  padding: 0 15px;
  text-align: justify;
}
input {

  display: block;
  width:90%;
  height: 14px;
  padding: 10px;
  margin: 20px auto;

}
button {
  display: block;
  width:50%;
  height: 40px;
  margin: 0 auto;
  background-color: #dc4955;
  border: 0;
  border-radius: 2px;
  color: #fafafa;
}
label{
  margin-left: 3%;
}
 #warn {
   margin-left: 3%;
   font-size: 14px;
   color: darkred;
 }
