* {
  font-family: 'HelveticaNeueCyr', sans-serif;

}
#wrapper {
  width: 80%;
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  padding: 10px;

}
h2 {

}

ul li {
  list-style: none;
  margin: 7px;

}
ol li {
  margin-bottom: 15px;

}
ol li span {
  font-weight: bolder;
}
button {
  display: block;
  font-size: 14px;
  width:20%;
  height: 40px;
  background-color: #dc4955;
  border: 0;
  border-radius: 2px;
  color: #fafafa;
  margin: 10px auto;
}
#timer {
  position: fixed;
  right: 20px;
  color: #dc4955;
  font-size: 20px;
}
