* {
  font-family: 'HelveticaNeueCyr', sans-serif;

}
#wrapper {
  width: 80%;
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  padding-bottom: 10px;
}
h2 {
  padding: 10px;
}

form {
  margin-left: 40px;
  margin-right: 40px;

}
select {

  font-size: 18px;
  height: 30px;
  width: 20%;
  border: 1px solid #304658;
  margin-right: 60%;
}

form label {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 20px;
}
input {
  width: 80%;
  height: 30px;
  border: 1px solid #304658;
  font-size: 18px;

}
button {
  display: block;
  font-size: 14px;
  width:15%;
  height: 40px;
  background-color: #dc4955;
  border: 0;
  border-radius: 2px;
  color: #fafafa;
  margin: 10px auto;
}
