/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  background: url(back.png) no-repeat center top fixed;
  background-size: 100% 100%;

}
