* {
  font-family: 'HelveticaNeueCyr', sans-serif;

}
#wrapper {
  width: 80%;
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  padding: 10px;

}
h2, h3 {
  padding-left: 10px;
}
